/* Letras */
/* Extend */
.imagen-grids, .img_uno, .img_dos, .img_tres, .img_cuatro, .img_cinco, .img_seis, .scuderia__img--uno, .scuderia__img--dos, .scuderia__img--tres, .scuderia__img--cuatro, .scuderia__img--cinco, .scuderia__img--seis {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

* {
  margin: 0px;
  padding: 0px; }

.navbar-brand {
  font-size: 25px; }

.nav-item {
  padding: 0px 20px;
  font-size: 25px; }

h1 {
  font-family: "Lato", sans-serif;
  font-size: 80px; }

/* .main__inicio{
    background-image: url("https://images.unsplash.com/photo-1604172497384-6fea2a1e7092?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAxfHxmZXJyYXJpfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    width: 100vw;
    height: 100vh;
} */
.main__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 50px 16px; }

.main__galeria {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img_uno img_cinco img_dos" "img_uno img_tres img_dos" "img_seis img_tres img_cuatro"; }

.main__titulo {
  padding-top: 40px; }

.img_uno {
  grid-area: img_uno;
  background-image: url(https://images.unsplash.com/photo-1597687210367-a4915552d886?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZmVycmFyaXxlbnwwfHwwfHw=&auto=format&fit=crop&w=400&q=60); }

.img_dos {
  grid-area: img_dos;
  background-image: url(https://images.unsplash.com/photo-1561444533-e11ac252308d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZlcnJhcml8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60); }

.img_tres {
  grid-area: img_tres;
  background-image: url(https://images.unsplash.com/photo-1542235060-869e41e542ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGZlcnJhcml8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60); }

.img_cuatro {
  grid-area: img_cuatro;
  background-image: url(https://images.unsplash.com/photo-1597934876505-f0c34e11eb95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGZlcnJhcml8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60); }

.img_cinco {
  grid-area: img_cinco;
  background-image: url(https://images.unsplash.com/photo-1627526355640-3ab76dd414db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGZlcnJhcml8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60); }

.img_seis {
  grid-area: img_seis;
  background-image: url(https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZmVycmFyaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60); }

.card-img-top {
  height: 300px; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 35px; }

.modelo__uno {
  display: flex; }

.modelo__dos {
  display: flex; }

.modelo__tres {
  display: flex; }

.modelo__cuatro {
  display: flex; }

.modelo__cinco {
  display: flex; }

.modelo__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.modelo__img {
  width: 350px;
  height: 450px; }

.main__historia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "his_img_uno his_img_dos his_img_tres"; }

.his__img_uno {
  grid-area: his_img_uno;
  width: 350px; }

.his__img_dos {
  grid-area: his_img_dos;
  width: 350px; }

.his__img_tres {
  width: 320px;
  height: 525px;
  grid-area: his_img_tres; }

.carrusel__img {
  width: 100vw;
  height: 80vh; }

.main__scuderia {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "scuderia__img--uno scuderia__img--dos scuderia__img--tres" "scuderia__img--cuatro scuderia__img--cinco scuderia__img--seis"; }

.scuderia__img--uno {
  grid-area: scuderia__img--uno;
  background-image: url(https://images.unsplash.com/photo-1563395163295-7e3e8e3dea81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUzfHxmZXJyYXJpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60); }

.scuderia__img--dos {
  grid-area: scuderia__img--dos;
  background-image: url(https://images.unsplash.com/photo-1537029114708-467d4a6f3f16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHNjdWRlcmlhJTIwZmVycmFyaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60); }

.scuderia__img--tres {
  grid-area: scuderia__img--tres;
  background-image: url(https://images.unsplash.com/photo-1605563707210-d6c75cd53963?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmVycmFyaSUyMGYxfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60); }

.scuderia__img--cuatro {
  grid-area: scuderia__img--cuatro;
  background-image: url(https://images.unsplash.com/photo-1514770198934-d632356140ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGZlcnJhcmklMjBmMXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60); }

.scuderia__img--cinco {
  grid-area: scuderia__img--cinco;
  background-image: url(https://images.unsplash.com/flagged/photo-1577655522259-3bb351ccb888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGZlcnJhcmklMjBmMXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60); }

.scuderia__img--seis {
  grid-area: scuderia__img--seis;
  background-image: url(https://images.unsplash.com/photo-1641999863846-760d6ed3f69a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNjaHVtYWNoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60); }

.main__arti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 1px; }
  .main__artip {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center; }

.main__arti--img {
  width: 200px;
  height: 230px; }

.main__articulos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  padding: 150px 0px;
  margin: 0px 20px;
  column-gap: 20px; }

.arti_uno {
  grid-column: 1/2;
  grid-row: 1/2; }

.arti_dos {
  grid-column: 2/3;
  grid-row: 1/2; }

.arti_tres {
  grid-column: 3/4;
  grid-row: 1/2; }

.arti__boton {
  background-image: linear-gradient(#5e5e5e, #3a3a3a);
  border: #3a3a3a solid 2px;
  font-family: "Roboto", sans-serif;
  color: white; }
  .arti__boton:hover {
    background-image: linear-gradient(#3a3a3a, #5e5e5e);
    transform: scale(1.25, 1.25); }

footer {
  background-color: #3a3a3a; }
  footer__imagen {
    width: 50px;
    height: 50px;
    background-color: #3a3a3a; }
  footer__derechos {
    display: block; }

/* Media querie celular */
@media (min-width: 320px) and (max-width: 575px) {
  .main {
    /* Media del Main Index */
    /* Media de Main Pagina Dos */
    /* Media Main Pagina Tres */
    /* Media Main pagina Cuatro */ }
    .main__galeria {
      width: 100vw;
      height: 380vh;
      display: grid;
      row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "img_uno" "img_dos" "img_tres" "img_cuatro" "img_cinco" "img_seis"; }
    .main__historia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "his_img_uno" "his_img_dos" "his_img_tres"; }
    .main__scuderia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "scuderia__img--uno" "scuderia__img--dos" "scuderia__img--tres" "scuderia__img--cuatro" "scuderia__img--cinco" "scuderia__img--seis"; }
    .main__articulos {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 1fr 1fr 1fr;
      row-gap: 15px; }
  .arti_uno {
    grid-column: 1/2;
    grid-row: 1/2; }
  .arti_dos {
    grid-column: 1/2;
    grid-row: 2/3; }
  .arti_tres {
    grid-column: 1/2;
    grid-row: 3/4; } }

/* Media querie tablet  */
@media (min-width: 576px) and (max-width: 992px) {
  .main {
    /* Media del Main Index */
    /* Media de Main Pagina Dos */
    /* Media Main Pagina Tres */
    /* Media Main pagina Cuatro */ }
    .main__galeria {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img_uno img_dos" "img_tres img_cuatro" "img_cinco img_seis"; }
    .main__historia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "his_img_uno" "his_img_dos" "his_img_tres"; }
    .main__scuderia {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "scuderia__img--uno scuderia__img--dos" "scuderia__img--tres scuderia__img--cuatro" "scuderia__img--cinco scuderia__img--seis"; }
    .main__articulos {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 1fr 1fr 1fr;
      row-gap: 15px; }
  .arti_uno {
    grid-column: 1/2;
    grid-row: 1/2; }
  .arti_dos {
    grid-column: 1/2;
    grid-row: 2/3; }
  .arti_tres {
    grid-column: 1/2;
    grid-row: 3/4; } }
