h1{
    font-family: $letra-titulos;
    font-size: 80px;
}

.carrusel{
    &__img{
        width: 100vw;
        height: 70vh;
    }
}

.main{
    &__parrafo{
        font-family: $letra-principal;
        font-size: 20px;
        text-align: center;
        padding: 50px;
    }               

    &__galeria{
        height: 100vh; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "img_uno img_cinco img_dos"
                            "img_uno img_tres img_dos"
                            "img_seis img_tres img_cuatro"
    }

    &__titulo{
        padding-top: 40px;
    }

}

.img{
    &_uno{
        @extend .imagen-grids;
        grid-area: img_uno;
        background-image: url(https://images.unsplash.com/photo-1597687210367-a4915552d886?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZmVycmFyaXxlbnwwfHwwfHw=&auto=format&fit=crop&w=400&q=60);
    }
    &_dos{
        @extend .imagen-grids;
        grid-area: img_dos;
        background-image: url(https://images.unsplash.com/photo-1561444533-e11ac252308d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZlcnJhcml8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);
    }

    &_tres{
        @extend .imagen-grids;
        grid-area: img_tres;
        background-image: url(https://images.unsplash.com/photo-1542235060-869e41e542ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGZlcnJhcml8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60);
    }    

    &_cuatro{
        @extend .imagen-grids;
        grid-area: img_cuatro;
        background-image: url(https://images.unsplash.com/photo-1597934876505-f0c34e11eb95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGZlcnJhcml8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
    }

    &_cinco{
        @extend .imagen-grids;
        grid-area: img_cinco;
        background-image: url(https://images.unsplash.com/photo-1627526355640-3ab76dd414db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGZlcnJhcml8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
    }

    &_seis{
        @extend .imagen-grids;
        grid-area: img_seis;
        background-image: url(https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZmVycmFyaXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60);
    }
}
.card-img-top{
    height: 300px;
}