.main{
    &__historia{                              
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "his_img_uno his_img_dos his_img_tres"
    }
}

.his__img{
    &_uno{
        height: 500px;
        width: 51vh;
        grid-area: his_img_uno;
    }

    &_dos{
        height: 500px;
        width: 51vh;
        grid-area: his_img_dos;
    }

    &_tres{
        height: 500px;
        width: 51vh;
        grid-area: his_img_tres;
    }
}